<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}-SAM'S BLOG
    </title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/blog/css/samblog.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top hidden-xs">
    <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="#">
                    SAM'S BLOG
                </a></li>
                <li><a href="{% url 'timeline' %}">时间线</a></li>
                <li><a href="{% url 'music' %}">音乐</a></li>
                <li><a href="{% url 'category' %}">分类</a></li>
                <li><a href="#">微评</a></li>
                <li><a href="#">关于我</a> </li>
            </ul>
            <form class="navbar-form " role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
    </div><!-- /.container-fluid -->
</nav>


<!--<nav class="navbar navbar-default navbar-fixed-top visible-xs-block ">-->
    <!--<div class="container-fluid">-->
            <!--<div class="navbar-header">-->
                <!--<a class="navbar-brand" href="#">-->
                    <!--SAM'S BLOG-->
                <!--</a>-->
            <!--</div>-->
            <!--<ul class="nav navbar-nav">-->
                <!--&lt;!&ndash; Single button &ndash;&gt;-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">-->
                        <!--<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">时间线</a></li>-->
                        <!--<li><a href="#">分类</a></li>-->
                        <!--<li><a href="#">微评</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
    <!--</div>-->
<!--</nav>-->


<header class="setHeader">
    <div class="setHeader-inner">
        <h1 class="setHeader-title">
            SAM'S BLOG
        </h1>
        <h5 class="setHeader-description">
            与你分享
        </h5>
    </div>
</header>
<div class="container-fluid">
    <article class="post">
        {% block content %}
        {% endblock %}
    </article>
</div>

<!--<div id="RelativeBlogs">-->
	<!--<strong><a id='btn_close'>关闭</a>相关文章阅读</strong>-->
	<!--<ul>-->
					<!--<li>-->
		<!--<span class='date'>2013/10/03</span>-->
		<!--<a href="http://my.oschina.net/uniquejava/blog/165818" title="git pull force">git pull force</a>-->
	<!--</li>-->
				<!--<li>-->
		<!--<span class='date'>2015/05/22</span>-->
		<!--<a href="http://my.oschina.net/ois/blog/418144" title="java  git batch pull">java  git batch pull...</a>-->
	<!--</li>-->
				<!--<li>-->
		<!--<span class='date'>2014/03/18</span>-->
		<!--<a href="http://my.oschina.net/mdongfeng/blog/209430" title="Windows git pull 批处理">Windows git pull 批处理...</a>-->
	<!--</li>-->
				<!--<li>-->
		<!--<span class='date'>2013/08/05</span>-->
		<!--<a href="http://my.oschina.net/kzhou/blog/150290" title="git@osc中team开发、fork和pull request的用法">git@osc中team开发、fork和pull re...</a>-->
	<!--</li>-->
			<!--</ul>-->
<!--</div>-->

<!--<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>-->
<!--<script>-->
     <!--$(window).scroll(function() {-->
        <!--var lastScreen;-->
        <!--if ($("#postform").length > 0)-->
            <!--lastScreen = getScrollY() + $(window).height() < $("#postform").offset().top * 1 ? false : true;-->
        <!--else-->
            <!--lastScreen = getScrollY() + $(window).height() < $(document).height() * 1 ? false : true;-->
        <!--if (lastScreen && !upprev_closed) {-->
            <!--$("#RelativeBlogs").stop().animate({right:"0px"});-->
            <!--upprev_hidden = false;-->
        <!--}-->
        <!--else if (upprev_closed && getScrollY() == 0) {-->
            <!--upprev_closed = false;-->
        <!--}-->
        <!--else if (!upprev_hidden) {-->
            <!--upprev_hidden = true;-->
            <!--$("#RelativeBlogs").stop().animate({right:"-400px"});-->
        <!--}-->
    <!--});-->
    <!--$("#RelativeBlogs #btn_close").click(function() {-->
        <!--$("#RelativeBlogs").stop().animate({right:"-400px"});-->
        <!--upprev_closed = true;-->
        <!--upprev_hidden = true;-->
    <!--});-->
<!--});-->

<!--</script>-->
<script type="text/javascript" src="/static/blog/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>