{% extends "base.html" %}

{% block title %}
   Category
{% endblock %}

{% block content %}
<br>
<br>
        {% for cat in category_list %}
            <div class="tag-style col-md-1"><a href="#{{cat.id}} "> {{cat.name}}</a><small>({{ cat.number }})</small></div>
        {% endfor %}
<br>
<br>
    {% for cat in category_list %}
        <h4 id="{{ cat.id }}">{{ cat.name }}({{ cat.number }})</h4>
        <ul>
            {% for blog in blog_list %}
                {% ifequal blog.cat_name_id  cat.id %}
                    <li><a href="{% url 'detail' blog.id %}">{{blog.name}}</a></li>
                {% endifequal %}
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
