{% extends "base.html" %}

{% block title %}
   {{ blog.blogname }}
{% endblock %}

{% block content %}
    <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h3 class="post-title">
                        {{ blog.blogname }}
                     </h3>
                     <p class="article-meta">发表于{{ blog.created_at }}</p>
                <br>
                  {{ blog.html_content|safe }}
                <br>
                </div>
                <footer class="post-footer">

                 </footer>
                <div class="col-md-2">
                </div>
   </div>
{% endblock %}


