<footer class="footer">
<div class="container-fluid">
    <div class="row">
        <div class="span4">
        </div>
        <div class="span4">
            <p>版权所有 © 2015-2016 samblog.com </p>
            <p>CC BY-NC-SA 3.0</p>
            <p>
            Powered by <a href="http://www.djangoproject.com" target="_blank">Django</a>.
            Host on <a href="http://www.webfaction.com?affiliate=the5fire" target="_blank">WebFaction</a>.
            </p>
        </div>
        <div class="span4">
        </div>
    </div>
</div>
</footer>
